/* Styling for <WeatherTable /> Component */

.weather-table{
  position: absolute;
  top: 120px;
  width: 80%;
  left: 10%;
}

.weather-table thead {
  text-align: center;
  background-color: lightgrey;
}
