/* Styling for <App /> Component */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
}

body{
  background-color: #F5F5F5;
}

.app-title{
  text-align: center;
  padding: 8px;
  font-size: 2em;
}

a{
  position: fixed;
  bottom: 0;
  left: 0;
  text-decoration: none;
}

a img{
  height: 40px;
}
